.mainHeaderContainer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position:static;
    background-color: transparent;
    background-color: gray;
    position: relative;
    // position: fixed;
    top: 0;
    z-index: 3;
}

.mainHeaderContainerScrolling{
    justify-content: space-between;
    position:static;
    background-color: transparent;
    background-color: gray;
    // position: relative;
    position: fixed;
    top: 0;
    z-index: 3;
    flex-direction: column;
}

.mainHeaderLeft{
    width: 70vw;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}


.mainHeaderLeftScrolling{
    width: 70vw;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.mainHeaderLogoImage{
    width: 150px;
    height: 60px;
    background-position: center;
    background-size: cover;
    // position: sticky;
}

.mainHeaderRight{
    margin-right: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

.mainHeaderRightScrolling{
    margin-right: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}
.powerButton{
    &:hover{
        color: red;
    }
    cursor: pointer;
}

.powerButtonSearch{
    &:hover{
        color: red;
    }
    cursor: pointer;
    @media screen and (max-width: 540px){
        display: none;
    }
}

.navItem{
    &:hover{
        color: red;
    }
    cursor: pointer;

    @media screen and (max-width: 957px){
        font-size: 0.9rem;
    }

    @media screen and (max-width: 816px){
        font-family: 0.8rem;
    }

    @media screen and (max-width: 800px){
        display: none;
    }
}

.searchBar{
    text-decoration: none;
    outline:0; 
    font-size: 15px;
    border: 1px solid #cccccc; 

    @media screen and (max-width: 540px){
        display: none;
    }
}