.errorImage{
    width: 100vw;
    height: 90vh;
    // width: 1550px;
    // height: 1350px;
    // position: absolute;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

// .errorImageContainer{
//     width: 100vw;
//     height: 100vh;
// }

.returnLinKBro{
    width: 100vw;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    background-color: #ff3233;
    // background-color: #ff3233;
}