.errorImage{
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.returnLinKBro{
    width: 100vw;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    background-color: #ff3233;
}